<div class="container welcome-page">
	<div class="card welcome">
	  <div class="card-header">
	    Welcome!
	  </div>
	  <div class="card-body">
	    <h5 class="card-title">To start posting, please sign-up for an account or login</h5>
	   <!--  <p class="card-text">With supporting text below as a natural lead-in to additional content.</p> -->
			<a><%= link_to "Sign Up", new_user_registration_path,class: 'btn btn-primary' %></a>
			<a><%= link_to "Login", new_user_session_path ,class: 'btn btn-primary' %></a>
	    
	  </div>
	</div>
</div>