@import "bootstrap";

.wrapper {
	width: 60%;
	max-width: 1140px;
	margin: 0 auto;

}

.sidenav {
  height: 100%;
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #428bca;
  overflow-x: hidden;
  padding-top: 20px;
}

.sidenav a {
    padding: 8px 8px 3px 3px;
    text-decoration: none;
    font-size: 25px;
    color: white;
    display: block;
    transition: 0.3s;
}